@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    /* color: rgb(250, 249, 249); */
    font-family: "Arial";
    scroll-behavior: smooth;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "source_sans_proregular", Helvetica, sans-serif;
}


/*   navigation     */

#logo img {
    width: 30px;
    height: 20px;
    line-height: 50px;
    cursor: pointer;
    filter: drop-shadow(0px 1px 1px white);
}

.clear {
    clear: both;
    background: linear-gradient(to right, red, orange);
    height: 3px;
    box-shadow: 0 0 2px 0 #222222;
}

.menu {
    width: 100%;
    height: 65px;
    background-color: #222;
    /* navigation big bg */
}

.menu>ul {
    list-style: none;
    position: relative;
    padding-top: 5px;
    margin-left: 50px;
}

.menu ul ul {
    list-style: none;
    position: absolute;
    visibility: hidden;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.fa-user,
.fa-key {
    color: #222222;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    background-color: #222;
    /* ul li navigation menu background */
    text-align: center;
    color: rgb(250, 249, 249);
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    /* background-color: #C7C7C7; */
    background-color: #0088CC;
    /* menu navigation background per hover*/
}

li>ul>li>a:hover {
    animation: fontgrow 2s infinite;
}

.menu ul ul li a {
    /* background-color: #069; */
    background-color: #006699;
    /* submenu background color */
    text-align: left;
}

#menu_btn {
    display: none;
}

input {
    color: black;
    outline: none;
}

label[for="menu_btn"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
}

label[for="menu_btn"]:hover {
    background-color: #f4f4f4;
    color: #aaa;
}

.fa-recycle,
.fa-desktop,
.fa-keyboard,
.fa-clipboard,
.fa-hand-holding-usd,
.fa-hand-lizard,
.fa-hourglass-half,
.fa-sign-out-alt {
    color: #993300;
}


/*     main body     */

.body {
    display: flexbox;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
    height: 968px;
    align-items: flex-start;
    /* padding: 0 15px; */
}

h4.login-title {
    margin-left: 50px;
}

div#body {
    flex: 1;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    height: 50%;
}

.btn-submit {
    background: #286090;
    color: white;
    padding: 3px;
}

#body>img {
    width: 400px;
    height: 500px;
}


/* Pages */

.body>.breadcrumbs{
    border-bottom: 2px solid gray;
    padding-left: 1rem;
}
.breadcrumbs {
    max-height: 80px;
    min-width: 100vw;
    padding-left: 25px;
    margin-bottom: 1rem;
    
    
}

.breadcrumbs>h3 {
    font-size: 18px;
    
}

.pagesindex {
    padding: 6px 1rem 0;
}

#map {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 1rem;
}


.computerphp_input input[type="text"] {
    width: 40%;
    margin: 0 auto;
}

.computerphpbtn>input[type="button"] {
    padding: 10px;
    border: none;
    color: #222222;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    background: #ffd6bf;
}

.computerphpbtn>input[type="button"]:hover {
    background: #ff5e00;
}

.contact-container {
    background: #3C3C3C;
    display: flex;
    justify-content: space-around;
}
.container-option{
    display: flex;
    justify-content: space-around;
}
.container {
    display: flex;
    justify-content: center;
    margin: 0 auto 10rem;
    flex-wrap: wrap;
    min-height: 100vh;
}
.nav-links>li{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    margin: 0 10px;
    
}
.thisform {
    text-align: center;
}
.forqty{
    color: red;
}
#btnexport {
    margin-top: 1rem;
    position: relative;
    width: 100%;
}

#pagerbutton {
    text-decoration: none;
    padding: 5px 12px;
    background: dodgerblue;
    border: none;
    margin: 0 8px;
    outline: none;
    font-size: 12px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s all ease;
}

#pagerbutton:hover {
    background: #0064d6;
}

.exportclass>input[type="submit"]:hover {
    background: dodgerblue;
    transition: 0.5 all ease;
}

.exportclass>label>i {
    font-size: 25px;
    position: relative;
    top: 5px;
    color: green;
    cursor: pointer;
}

.exportclass>label>i:hover {
    color: rgb(122, 165, 122);
}

.exportclass>input[type="submit"] {
    background: #C6E3FF;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.contact-left,
.contact-right {
    padding-bottom: 1rem;
}

.contact-container ul ul {
    text-decoration: none;
    list-style: none;
}

.contact>li {
    color: #F5F5F5;
}

.contact-left>ul>li,
.contact-right>ul>li {
    list-style: none;
    font-weight: bold;
    padding: 1rem 0;
    filter: drop-shadow(0px 3px 2px black);
    color: white;
}

.section-container {
    /* items_category.php */
    /* items_desc.php */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.sold-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 0;
    padding-top: 50px;
    width: 80%;
    height: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section-left {
    width: 100%;
    height: 100%;
    flex: 1;
    text-align: right;

    
}
.section-left>p,.section-right>p{
    letter-spacing: 3px;
    padding-bottom: 10px;
    word-spacing: 4px;
    font-size: 18px;
}
.section-right {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    flex: 2;
}

.soldt-container {
    /* border-collapse: collapse; */
    width: 100%;
}

.soldt-container td {
    color: black;
    padding: 0 10px;
}

.soldt-container thead {
    background: #676767;
    text-align: left;
}

.soldt-container tr>th {
    padding: 10px;
    color: #F9F9F9;
}

.soldt-container tbody>tr:nth-child(odd) {
    height: 30px;
    background: #D9D9D9;
    margin-left: 20px;
}

.soldt-container tbody>tr:nth-child(even) {
    height: 30px;
    background: #F7F7F7;
}

.soldt-container tbody>tr:hover {
    background: #B8EE14;
    cursor: pointer;
}

.soldt-container button {
    background: #676767;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    color: #F7F7F7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headingsold-container {
    width: 100%;
    max-height: 100px;    
}

.headingsold-container>img{
    height: 100px;
    width: 120px;
    line-height: 100px;
    position: relative;
    left: 25%;
}
.headingsold-container h2{
    position: relative;
    left: 40%;
    top: -60px;
    font-size: 30px;
    word-spacing: 25px;
    letter-spacing: 1rem;
}


.btn-container {
    margin: 5px;
}

.srs {
    font-weight: bold;
    padding-right: 15px;
}

.footerpart {
    margin-top: 10px;
    display: flexbox;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10%;
}
.footerpart p{
font-size: 18px;
letter-spacing: 2px;
word-spacing: 3px;
}
.preparedby{
    margin: 2.5rem 0;
}
.receiveto{
    padding-top: 20px;
}
.sold-photo{
    float: right;
    position: relative;
    left: 180px;
    top: 10px;
}
img.tphot {
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bottom:hover>.fas,
#top:hover>.fas {
    color: green;
}


/* preloader ################################################# */

.loader-container {
    width: 100%;
    height: 100vh;
    background-color: #111;
    /* background-color: whitesmoke; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    25% {
        color: #2ecc71;
    }
    50% {
        color: #f1c40f;
    }
    75% {
        color: #e74c3c;
    }
    to {
        transform: rotate(360deg);
    }
}


/*    animation      */

@keyframes fontgrow {
    0% {
        color: white;
        transition: all 1.6s;
    }
    25% {
        color: rgb(196, 166, 166);
        transition: all 1.5s;
    }
    50% {
        color: white;
        transition: all 1.4s;
    }
    75% {
        color: rgb(196, 166, 166);
        transition: all 1.3s;
    }
}

@media (max-width: 938px) {
    /* .logo>img {
        display: none;
    } */
    .clear {
        display: none;
    }
    .menu {
        margin-left: -100%;
        transition: all 0.4s;
    }
    label[for="menu_btn"] {
        display: block;
    }
    .menu>ul {
        margin-left: 0;
    }
    .menu {
        margin-top: 5px;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 0.4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 600px;
        transition: all 0.4s;
    }
    #menu_btn:checked~.menu {
        margin-left: 0;
    }
}

@media (max-width: 461px) {
    .soldt-wrapper {
        width: 360px;
    }
    .soldt-container td {
        color: black;
        padding: 0 2px;
        font-size: 9px;
    }
    .soldt-container thead th {
        padding: 0 2px;
        font-size: 10px;
    }
}